:root {
  --radius-main: 0rem;
  --font-family: sans-serif;
  --font-weight: 400;
  --clr-background: #111111;
  --clr-text: #d2d2d2;
  --clr-border: #363636;
  --clr-button: #2a2a2a;
  --clr-search: #171717;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}

body {
  background-color: var(--clr-background);
  color: var(--clr-text);
}

a,
a:visited {
  text-decoration: none;
  color: var(--clr-text);
}

h1 {
  color: var(--clr-text);
  user-select: none;
}

button {
  padding: 0.5rem 1rem;
  border: solid 0.1rem var(--clr-border);
  border-radius: var(--radius-main);
  background-color: var(--clr-button);
  color: var(--clr-text);
  cursor: pointer;
  user-select: none;
}

.page-content {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 5rem 2rem;
}

#form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: clamp(5rem, 100%, 40rem);
}

#form-wrapper a,
#form-wrapper button {
  width: 100% !important;
}

form {
  width: 100%;
}

#search-bar {
  width: 100%;
  padding: 0.5rem 1rem;
  border: solid 0.1rem var(--clr-border);
  border-radius: var(--radius-main);
  background-color: var(--clr-search);
  color: var(--clr-text);
}

::placeholder {
  color: var(--clr-text);
  opacity: 0.4;
}

.menu-buttons-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .menu-buttons-wrapper {
    flex-direction: column;
  }
}

#yt-simple-logo {
  width: 72px;
  user-select: none;
}

.catppuccin-palette-wrapper {
  display: flex;
  width: clamp(5rem, 100%, 40rem);
  height: 0.5rem;
  gap: 0rem;
}

#btn-subscriptions, #btn-explore {
  border: solid 0.1rem var(--clr-border);
  background-color: var(--clr-button);
  color: var(--clr-text);
}
